{{ define "content" }}
<!-- Article -->
    <!-- Sim -->
    <section id="simUi" class="one dark cover">
        <div class="container">
            <article>
                <h3>Current</h3>
                <header>
                </header>
                <h3>Actions</h3>
                <form class="smaller">
                    Set state: <input id="simStateOn" type="button" value="On">
                    <input id="simStateOff" type="button" value="Off"><br>
                    Set current time: <input id="simTime" type="time"><br>
                    Set zoom factor (Multiplier): <input id="simMultiplier" min="1" max="100" value="1" type="range"><br>
                </form>
            </article>
        </div>
    </section>
    <!-- Data -->
    <section id="data" class="four">
        <div class="container">
            <header>
                <h2>Data</h2>
            </header>
            <form method="post" action="/sim/data?type=export">
                <fieldset>
                    <span><b>Export data by XML: </b></span><br>
                    <input id="exportBtn" type="submit" name="submit" value="Export">
                </fieldset>
            </form>
            <br><br>
            <form method="post" action="/sim/data?type=import" enctype="multipart/form-data">
                <fieldset>
                    <span><b>Import data by XML: </b></span><br>
                    <input type="hidden" name="test" value="test">
                    <input type="file" name="dataFile" id="dataFile" multiple="multiple">
                    <input type="submit" name="submit" id="dataFileSub" value="Import" disabled>
                </fieldset>
            </form>
        </div>
    </section>
    <!-- About -->
    <section id="about" class="three">
        <div class="container">
            <header>
                <h2>About</h2>
            </header>
            <p>Bei dieser Webseite handelt es sich um eine Implementierung eines SmartHomes.
                Da kein echtes System angebunden ist, wurde ein Simulator integriert.</p>
            <p>Diese Webseite wurde im Rahmen einer Hausarbeit der Hochschule Flensburg erschaffen.
                Sie ist Inhalt der Prüfungsleistung für das Modul Webprogrammierung und wurde in alleiniger Arbeit von
                von <b>Sven Kuhlmann</b> erstellt.<br>
                Sämtliches wissen zum erstellen des Inhaltest stammt aus den Vorlesungen/Laboren und dem eigenen
                Wissenstand.<br>
                Da für einige Medien eventuell keine Rechte bestehen, ist der öffentliche Gebrauch untersagt.</p>
            <p>Für weitere Informationen oder Fragen kontaktieren Sie mich hier:<br>
                <a href="mailto:Sven.Kuhlmann@stud.hs-flensburg.de">EMail senden</a></p>
        </div>
    </section>
<!-- Helper -->
    <!-- Logout
    <form method="post" action="../">
        <input title="Logout" type="image" src="images/logout.png" alt="Logout" id="logout" name="authBtn" value="Logout">
    </form>
    <!-- Interface
    <form method="post" action="/ui">
        <input title="Interface" type="image" src="images/interface.png" alt="Interface" id="sim" name="sim" value="Interface">
    </form> -->
{{ end }}